 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hola! My name is Patry. I am a graphic artist, web designer and front-end developer. I will graduate in May from University of Louisville with a Bachelor of Fine Arts with concentration in Communication Art &amp; Design.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am a huge fan of old posters and Street Art. I really enjoy branding products, designing packages, and crafting websites. Appart from being a passionate designer, I also like floating in the ocean, yoga, all kinds of foods, and TV series. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="pdfs/2015-resume-GalisMenendez.pdf" class="btn btn-lg btn-outline" target="_blank">
                        <i class="fa fa-download"></i> Download Résumé
                    </a>
                </div>
            </div>
        </div>
    </section>
